*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Eclipse
.project

# Aptana/PyDev
.pydevproject

# Pycharm
.idea/*

sphinx/_build
sphinx/_inv-cache
sphinx/_site
docs/doctest
docs/doctrees
docs/html
htmlcov
